* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

body::before {
  content: "";
  position: absolute;
  background: url(Images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -10px;
  z-index: -1;
  width: 100%;
  min-height: 100vh;
}

.circle {
  mix-blend-mode: difference;
  z-index: 999999 !important;
  position: fixed;
  display: inline-block;
  border-radius: 50%;
  background-color: white;
  width: 20px;
  height: 20px;
  left: 20px;
  right: 0;
  -webkit-transition: opacity .2s ease, border-color .2s ease, background-color .2s ease, -webkit-transform .2s ease;
  transition: opacity .2s ease, border-color .2s ease, background-color .2s ease, -webkit-transform .2s ease;
  transition: transform .2s ease, opacity .2s ease, border-color .2s ease, background-color .2s ease;
  transition: transform .2s ease, opacity .2s ease, border-color .2s ease, background-color .2s ease, -webkit-transform .2s ease;
  pointer-events: none;
}

nav {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 5em;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1.2rem;
  -webkit-transition: 1s;
  transition: 1s;
}

nav #logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav #nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav #nav-bar li {
  padding-left: 1em;
  list-style: none;
}

nav #nav-bar a {
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: white;
}

.hide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.active {
  color: #DA0037 !important;
}

.active::before {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  content: "";
  border-bottom: 4px solid #DA0037;
}

.sticky {
  -webkit-box-shadow: 0 0 3px #746e6e, 0 0 12px #dadada;
          box-shadow: 0 0 3px #746e6e, 0 0 12px #dadada;
  z-index: 9999 !important;
  position: -webkit-sticky;
  position: sticky;
  -webkit-transform: rotateX(360deg);
          transform: rotateX(360deg);
  top: 0;
  color: black;
  background-color: white;
}

.sticky #burger-btn {
  color: black;
}

.sticky #nav-bar .nav-links {
  color: black;
}

#hero-section {
  min-height: 90vh;
  position: relative;
}

#hero-section #hero-text-1 {
  position: absolute;
  mix-blend-mode: difference;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: black;
  font-size: 4rem;
  top: 2em;
  left: 2em;
}

#hero-section #hero-text-2 {
  position: absolute;
  bottom: 13em;
  text-transform: uppercase;
  right: 10em;
}

#hero-section #hero-text-2 p {
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: black;
  font-size: 2.2rem;
  mix-blend-mode: difference;
}

#hero-section #hero-text-2 .dynamic-txts {
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

#hero-section #hero-text-2 .dynamic-txts li {
  list-style: none;
  color: #FC6D6D;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  -webkit-animation: slide 11s steps(4) infinite;
          animation: slide 11s steps(4) infinite;
}

@-webkit-keyframes slide {
  100% {
    top: -360px;
  }
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

#hero-section #hero-text-2 span {
  font-weight: bolder;
  color: #DA0037;
  font-size: 3.5rem;
}

#about {
  background-color: #EDEDED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#about .about-img {
  z-index: 1;
  position: relative;
  width: 450px;
}

#about .about-img img {
  width: 100%;
}

#about .about-img::before {
  content: "";
  position: absolute;
  width: 40%;
  background-color: #DA0037;
  z-index: -1;
  height: 100%;
  border: 2px solid red;
}

#about .about-content {
  padding: 10em 0;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

#about .about-content h2 {
  font-size: 2rem;
  color: #DA0037;
}

#about .about-content p {
  margin: 1em 0;
}

#about .about--details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

#about .about--label {
  font-weight: bold;
}

#services h1 {
  font-size: 2rem;
  margin: 1em 2.5em;
  color: red;
}

.services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 3em 10em;
  gap: 3em;
}

.services-container .service-cards {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #e6e6e6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-bottom: 4px solid #DA0037;
}

.services-container .service-cards h2 {
  padding: 1em 0 0.5em 0;
}

.services-container .service-cards .card-more {
  font-weight: bold;
  margin: 0.5em 0;
  color: #DA0037;
}

.services-container .service-cards .card-more span {
  position: relative;
}

.services-container .service-cards .card-more span i {
  position: absolute;
  left: 2px;
  top: 3.5px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.services-container .service-cards .card-more:hover span i {
  left: 10px;
}

.services-container .service-cards-icon {
  color: #DA0037;
  padding: 0 0.3em;
  font-size: 4rem;
}

.services-container .service-cards:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.freelancer {
  gap: 1.7em;
  min-height: 40vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 5, 5, 0.199)), to(rgba(0, 0, 0, 0.342))), url(Images/freelancer.jpg);
  background: linear-gradient(rgba(5, 5, 5, 0.199), rgba(0, 0, 0, 0.342)), url(Images/freelancer.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.freelancer p {
  color: #DA0037;
  font-size: 2rem;
  font-weight: bold;
}

.main-btn {
  padding: 1em 1.5em;
  background-color: transparent;
  font-weight: bold;
  color: #DA0037;
  border-radius: 2px;
  border: 2px solid #DA0037;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-btn:hover {
  background-color: #DA0037;
  color: white;
}

#portfolio h1 {
  font-size: 2rem;
  margin: 1em 2.5em;
  color: red;
}

#portfolio .portfolio-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}

#portfolio .portfolio-menu ul li {
  background-color: white;
  list-style: none;
  padding: 0.4em 1.3em;
  border-radius: 12px;
}

.gallery-active {
  background-color: #DA0037 !important;
  color: white;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1em 14em;
}

.gallery .img-box {
  width: 50%;
  max-width: 350px;
  max-height: 400px;
}

.gallery img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.Reviews {
  background-color: #EDEDED;
  min-height: 70vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 60%;
      grid-template-columns: auto 60%;
}

.Reviews .Reviews_sub_text {
  padding: 3em 0em 3em 10em;
}

.Reviews .Reviews_sub_text p:nth-child(2) {
  margin: 0.5em 0;
  font-size: 1.2rem;
  color: #DA0037;
}

.Reviews .Reviews_sub_text p:nth-child(3) {
  color: grey;
}

.Reviews .Reviews_sub_text button {
  margin: 1.5em 0;
}

.Reviews .ReviewsSlider {
  margin: auto 3em;
  padding: 1em 1em;
}

.Reviews .Reviews-inner-box {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Reviews .ReviewsBox {
  max-height: 399px;
  padding: 1em 2em;
}

.Reviews .ReviewsBox .Reviews-box-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 0.2em;
  background-color: #EDEDED;
  border-bottom: 1px solid grey;
  white-space: nowrap;
}

.Reviews .ReviewsBox .Reviews-box-header i {
  color: #fa931c;
}

.Reviews .ReviewsBox p {
  padding: 1em;
  color: grey;
}

#blog {
  min-height: 90vh;
}

#blog h1 {
  font-size: 2rem;
  margin: 1em 2.5em;
  color: red;
}

#blog .blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#blog .blog-cards {
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  max-width: 400px;
}

#blog .blog-cards .blog-content {
  padding: 1em;
}

#blog .blog-cards .blog-content .blog-more {
  color: black;
}

#blog .blog-cards .blog-content .blog-more:hover {
  color: #DA0037;
}

#blog .blog-cards span {
  color: #DA0037;
  font-size: 0.9rem;
  padding: 0 1em;
}

#blog .blog-cards p {
  margin: 0.5em 0;
  color: grey;
}

#blog .blog-cards img {
  width: 100%;
}

#contact {
  position: relative;
  border: 1px solid transparent;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.562)), to(rgba(0, 0, 0, 0.562))), url(Images/contact.jpg);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562)), url(Images/contact.jpg);
  background-size: cover;
}

#contact h1 {
  font-size: 2rem;
  margin: 1em 3.3em;
  color: red;
}

#contact #form {
  margin-bottom: 2em;
  position: relative;
  left: 50%;
  width: 50%;
  max-width: 500px;
}

#contact form {
  border: 1px solid transparent;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact form input {
  margin: 1em;
  padding: 1em;
}

#contact form textarea {
  margin: 1em;
  padding: 1em;
}

#contact form input:focus, #contact form textarea:focus {
  border-color: transparent;
  outline: 1px solid #DA0037;
}

#contact .social-media {
  position: absolute;
  width: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  left: 3em;
  top: 14em;
}

#contact .social-media .social-icon {
  width: 9rem;
  position: relative;
}

#contact .social-media i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 1.5rem;
  color: #fcfcfc;
}

#contact .social-media .blob {
  width: 100%;
}

footer {
  padding: 1.5em;
  text-align: center;
  color: white;
  background-color: #1f1e1e;
}

#burger-btn {
  display: none;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 2rem;
}

@media screen and (max-width: 1177px) {
  html {
    font-size: 90%;
  }
  .Reviews {
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  #burger-btn {
    display: block;
  }
  .nav #nav-bar {
    display: none;
  }
  .nav #nav-bar {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    top: 61px;
    z-index: 999 !important;
    position: absolute;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.267);
            box-shadow: 0 2px 1px rgba(0, 0, 0, 0.267);
    background-color: white;
  }
  .nav #nav-bar li {
    padding: 1em;
  }
  .nav #nav-bar a {
    color: black;
  }
  .services-container {
    margin: 3em 6em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services-container .service-cards {
    max-width: 500px;
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
  }
}

@media screen and (max-width: 810px) {
  #about .about-img {
    width: 50%;
  }
}

@media screen and (max-width: 760px) {
  html {
    font-size: 80%;
  }
  #about {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
  }
  #about .about-content {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    z-index: 99 !important;
  }
  #about .about-img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  #about .about-img img {
    width: 45%;
  }
  #about .about-img::before {
    width: 10%;
  }
  .blog-container {
    gap: 1em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 5em;
  }
}

@media screen and (max-width: 580px) {
  #about .about-content {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  #about .about-img {
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #about .about-img img {
    width: 45%;
  }
  #about .about-img::before {
    width: 10%;
  }
  .gallery {
    padding: 1em 10em;
  }
  #contact .social-media {
    width: 30%;
  }
  #contact .social-media .social-icon {
    width: 5.5rem;
  }
}

@media screen and (max-width: 530px) {
  #hero-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #hero-section #hero-text-1 {
    position: static;
    text-align: center;
  }
  #hero-section #hero-text-2 {
    position: static;
    text-align: center;
  }
  #about .about-content {
    -ms-flex-preferred-size: 97%;
        flex-basis: 97%;
  }
  #about .about-content p {
    font-weight: bold;
  }
  #about .about-img img {
    mix-blend-mode: lighten;
  }
  #about .about-img::before {
    border: none;
    border-radius: 50%;
    height: 20em;
    width: 20em;
    background-color: rgba(255, 0, 0, 0.438);
  }
  .gallery {
    padding: 1em 5em;
  }
  #contact .social-media {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: static;
    top: 0;
  }
  #contact .social-media .social-icon {
    width: 5.5rem;
  }
  #contact #form {
    width: 100%;
    left: 0;
  }
}

@media screen and (max-width: 430px) {
  html {
    font-size: 70%;
  }
  .services-container .service-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .services-container .service-cards h2 {
    padding: 0 0 0.5em 0;
  }
  .Reviews .Reviews_sub_text {
    padding: 3em 0em 3em 1em;
  }
  .Reviews .ReviewsBox {
    padding: 1em 0.5em;
  }
  .Reviews .ReviewsSlider {
    margin: auto 1em;
    padding: 1em 1em;
  }
}

@media screen and (max-width: 360px) {
  html {
    font-size: 60%;
  }
  .services-container {
    margin: 1em 0.3em;
  }
  .gallery {
    padding: 1em 1em;
  }
  #portfolio .portfolio-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0.1em;
  }
  #portfolio .portfolio-menu ul li {
    padding: 0.4em 1.3em;
    border-radius: 12px;
  }
  #about .about-img::before {
    height: 10rem;
    width: 10rem;
  }
}

@media screen and (max-width: 260px) {
  html {
    font-size: 50%;
  }
  #hero-section #hero-text-2 .dynamic-txts {
    margin-left: 0;
  }
}

#mainLoader {
  position: fixed;
  z-index: 999999999999999 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: #edf7ff;
}

.text-load {
  position: absolute;
  bottom: -5px;
  left: -70px;
}

.loader {
  width: 80px;
  height: 67px;
  margin: auto;
  position: relative;
}

.loader .square {
  background: #009dff;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 4px;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation: motion 2.5s infinite cubic-bezier(0.89, 0.03, 0.06, 1.5);
          animation: motion 2.5s infinite cubic-bezier(0.89, 0.03, 0.06, 1.5);
}

.loader .path {
  height: 10px;
  width: 110px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.loader .path > div {
  background: #444;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  margin: 0 15px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation: dynamic 5s infinite cubic-bezier(0.89, 0.03, 0.06, 1.5);
          animation: dynamic 5s infinite cubic-bezier(0.89, 0.03, 0.06, 1.5);
}

.loader .path > div:nth-child(1) {
  left: 40px;
}

.loader .path > div:nth-child(2) {
  left: 80px;
}

.loader .path > div:nth-child(3) {
  left: 120px;
}

.loader .path > div:nth-child(4) {
  left: 160px;
}

.loader .path > div:nth-child(5) {
  left: 200px;
}

.loader .path > div:nth-child(6) {
  left: 240px;
}

.loader .path > div:nth-child(7) {
  left: 280px;
}

@-webkit-keyframes motion {
  50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes motion {
  50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes dynamic {
  0% {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  25% {
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  50% {
    -webkit-transform: translateX(-120px);
            transform: translateX(-120px);
  }
  75% {
    -webkit-transform: translateX(-160px);
            transform: translateX(-160px);
  }
  100% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
}

@keyframes dynamic {
  0% {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  25% {
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  50% {
    -webkit-transform: translateX(-120px);
            transform: translateX(-120px);
  }
  75% {
    -webkit-transform: translateX(-160px);
            transform: translateX(-160px);
  }
  100% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
}
/*# sourceMappingURL=main.css.map */